
h1 {
    color: #000000;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
}

.box {
    padding: 50px;
    background-color: tomato;
    float: left;
    margin-right: 20px;
}

.main {
    width: 70%;
    margin: 0 auto;
}

#nav {
}

#intro {
    margin-top: 200px;
}

#content-div {
}
