h1 {
  font-family: helvetica;
  font-size: 40px;
  font-weight: 600;
  color: #333;
  position: relative;
  -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {top: 0px; opacity: 0;}
    to {top: 40px; opacity: 1;}
}

@keyframes mymove {
    from {top: 0px; opacity: 0;}
    to {top: 40px; opacity: 1;}
}

