
/* Everything */

body {
    background-color: #FAFAFA;
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
}

/* Menu */

#nav a {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fafafa;
}

li {
    display: inline;
    float: left;
    height: 70px;
}

li a {
    display: block;
    text-decoration: none;
    padding: 14px 0px 12px 40px;
}

li:first-child a {
    padding: 18px 0px;
}

li a:hover {
    color: #333;
}

#nav img {
    height: 32px;
}

/* Both text intro and content boxes */

.main {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.main a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    text-align: left;
    line-height: 35px;
}

.main p:hover {
    color: #333
}

/* Text intro */

h1 {
    color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
}

#intro {
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Content Boxes */

#content-div {
}

.box1 {
    background-color: #F6D9CE;
    height: 200px;
    text-align: center;
    margin-top: 5%;
    padding: 5%;
}

.box1 p {
    float: left;
    width: 216px;
}

.box1-img {
    width: 400px;
    float: right;
}

.box2 {
    background-color: peachpuff;
    float: left;
    width: 47.5%;
    height: 200px;
    text-align: center;
    margin: 5% 5% 0% 0%;
}

.box2:last-child {
    margin-right: 0%;
}

.box3 {
    background-color: tomato;
    float: left;
    width: 30%;
    height: 200px;
    margin: 5% 5% 0% 0%;
    text-align: center;
}

.box3:last-child {
    margin-right: 0%;
}